## Preprocessing

For second optimization attempt, raised units in first hidden layer from 16 to 32. Accuracy decreased.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced (T13 and under where <100)
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T8','T7','T10','T9','T13','T12','T2','T25','T14','T29','T15','T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000','C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300','C1280','C1230','C1400','C7200','C2300', \
                              'C1240','C8000','C7120','C1500','C1800','C6000','C1250','C8200', \
                              'C1238','C1278','C1235','C1237','C7210','C2400','C1720','C4100','C1257','C1600','C1260','C2710','C0','C3200','C1234', \
                              'C1246','C1267','C1256','C1370','C1236','C2190','C4200','C5200','C1900','C2600','C1248','C6100','C1820', \
                              'C1580','C2570','C1732','C3700','C2500','C1570','C1283','C2380','C1728','C2170','C4120','C8210', \
                              'C4500','C1245','C2561','C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Create OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\bassm\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,NAME_14TH ARMORED DIVISION,NAME_150TH INTELLIGENCE SQUADRON ENLISTED ADVISORY COUNCIL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# merge one-hot encoded features and drop the orginals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\bassm\AppData\Local\Temp\ipykernel_16364\764149855.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

C:\Users\bassm\AppData\Local\Temp\ipykernel_16364\3281902470.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'],1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(input_shape=(X_train_scaled.shape[1],),units=32, activation='relu', input_dim=14))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# third hidden layer
#nn_model.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                313760

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 314,049
Trainable params: 314,049
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 2ms/step - loss: 0.5094 - accuracy: 0.7406
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.2264 - accuracy: 0.9095
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1045 - accuracy: 0.9584
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0966 - accuracy: 0.9599
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0937 - accuracy: 0.9609
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0917 - accuracy: 0.9614
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0909 - accuracy: 0.9614
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0906 - accuracy: 0.9628
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0897 - accuracy: 0.9623
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0887 - accuracy: 0.9627
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0880 - accuracy: 0.9625
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0875 - accuracy: 0.9637
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0867 - accuracy: 0.9637
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0868 - accuracy: 0.9635
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0860 - accuracy: 0.9631
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0856 - accuracy: 0.9635
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0852 - accuracy: 0.9638
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0844 - accuracy: 0.9644
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0842 - accuracy: 0.9644
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0844 - accuracy: 0.9644
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0840 - accuracy: 0.9654
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0832 - accuracy: 0.9648
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0830 - accuracy: 0.9651
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0825 - accuracy: 0.9655
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0820 - accuracy: 0.9660
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0822 - accuracy: 0.9659
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0820 - accuracy: 0.9657
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0814 - accuracy: 0.9656
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0814 - accuracy: 0.9663
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0810 - accuracy: 0.9663
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0812 - accuracy: 0.9661
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0803 - accuracy: 0.9665
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0799 - accuracy: 0.9669
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0800 - accuracy: 0.9663
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0797 - accuracy: 0.9673
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0794 - accuracy: 0.9672
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0791 - accuracy: 0.9673
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0788 - accuracy: 0.9671
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0782 - accuracy: 0.9677
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0784 - accuracy: 0.9677
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0779 - accuracy: 0.9675
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0781 - accuracy: 0.9676
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0778 - accuracy: 0.9678
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0780 - accuracy: 0.9682
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0777 - accuracy: 0.9684
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0773 - accuracy: 0.9679
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0771 - accuracy: 0.9687
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0765 - accuracy: 0.9683
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0766 - accuracy: 0.9681
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0768 - accuracy: 0.9683
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0762 - accuracy: 0.9682
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0762 - accuracy: 0.9682
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0762 - accuracy: 0.9682
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0761 - accuracy: 0.9684
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0761 - accuracy: 0.9682
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0763 - accuracy: 0.9683
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0761 - accuracy: 0.9689
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0757 - accuracy: 0.9686
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0756 - accuracy: 0.9683
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0757 - accuracy: 0.9693
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0753 - accuracy: 0.9691
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0751 - accuracy: 0.9689
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0748 - accuracy: 0.9685
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0752 - accuracy: 0.9692
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0749 - accuracy: 0.9688
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0746 - accuracy: 0.9688
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0746 - accuracy: 0.9687
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0744 - accuracy: 0.9690
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0738 - accuracy: 0.9693
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0747 - accuracy: 0.9693
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0742 - accuracy: 0.9696
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0741 - accuracy: 0.9694
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0741 - accuracy: 0.9691
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0737 - accuracy: 0.9690
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0739 - accuracy: 0.9694
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0741 - accuracy: 0.9689
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0737 - accuracy: 0.9694
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0737 - accuracy: 0.9697
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0738 - accuracy: 0.9695
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0734 - accuracy: 0.9698
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0734 - accuracy: 0.9699
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0730 - accuracy: 0.9696
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0735 - accuracy: 0.9694
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0733 - accuracy: 0.9699
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0728 - accuracy: 0.9697
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0728 - accuracy: 0.9690
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0730 - accuracy: 0.9697
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0727 - accuracy: 0.9699
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0726 - accuracy: 0.9701
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0730 - accuracy: 0.9696
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0728 - accuracy: 0.9693
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0725 - accuracy: 0.9695
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0722 - accuracy: 0.9705
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0728 - accuracy: 0.9693
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0725 - accuracy: 0.9709
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0720 - accuracy: 0.9701
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0721 - accuracy: 0.9702
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0729 - accuracy: 0.9695
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0721 - accuracy: 0.9700
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0721 - accuracy: 0.9700

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6892 - accuracy: 0.7353 - 974ms/epoch - 4ms/step
Loss: 0.6891757249832153, Accuracy: 0.735276997089386

In [19]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')